.todo-item {
  height: 40px;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #828282;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.15);

  &__icon {
    height: 100%;
    cursor: pointer;
  }

  &__title {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &--complete {
    text-decoration: line-through;
    opacity: 0.4;
  }

  &:hover {
    height: 50px;
    width: 43%;
  }
}
