.calendar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 16px;

    .have-todo {
        &:before {
            content: " \25CF";
            color: green;
            font-size: 5px;
            position: absolute;
            margin-top: -5px;
            margin-left: 1px;
        }

        &.react-calendar__tile--active {
            &:before {
                color: red;
            }
        }
    }
}
